/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Merriweather:wght@300&display=swap');

h1, h2, h3, h4, h5{
    font-family: 'Hammersmith One', sans-serif;
}
h1{
    margin-left: 150px;
    font-size: 3rem !important;
    color: #2C3D4B !important;
}
h2{
    text-align: center;
    padding: 3% 0 5% 0;
}
p{
    font-family: 'Merriweather', serif;
}
.container-fluid{
    padding: 2% 0%;
}

.main-bg{
  /* background-image: url(./assets/images/pattern.jpg); */
  background-size: 30%;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(193, 235, 226, 0.774);
}
/* NAVBAR */
.navbar{
    margin: 0;
    padding-bottom: 10px;
}
.navbar-brand{
    padding-top: 0;
}
#logo{
    width: 120px;
    height: 40px;
}
.nav-item{
    margin: 10px 10px 0 10px;
}
.navLi{
    font-family: 'Merriweather', serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
    padding: 0 25px 1rem;
    margin: 0 10px;
}
.navLi::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #AB5429;
    transition: width 0.25s ease-out;
}
.navLi:hover::before{
    width: 100%;
    left: 0;
    right: auto;
}

/* FIRST SECTION */
#hero{
    padding-bottom: 170px;
    padding: 100px 0 170px 0;
}
#hero .row{
    width: 1900px;
}
#title{
    text-align: left;   
    line-height: 1.5;
    padding-right: 5%;
    margin: 50px 0 0 0;
}
#title p{
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    padding: 0px 100px 20px 0;
    margin: 0 0 50px 150px;
}
.right-bg{
    background-color: #D48A7A;
    border-radius: 30% 70% 34% 66% / 35% 41% 59% 65% ; 
    width: 500px !important;
    margin-right: 300px;
}

/* ABOUT */
    #abt h2{
        font-size: 2.5rem;
        color: #2C3D4B;
    }
   #about1{
    height: 80%;
    width: 80%;
    margin: 3% 10% 5% 10%;
   }
   #about-txt1{
    margin-top: 100px;
    margin: 100px 0 0 150px;
    line-height: 30px;
    width: 400px;
    height: 350px;
    color: #2C3D4B;
    font-size: 1.2rem;
   }
   #txt1-bg{
    width: 700px;
    height: 500px;
    background-color: #78e6ce;
    border-radius: 50% 50% 15% 85% / 73% 0% 100% 27%; 
   }
   #about-txt2{
    margin-top: 100px;
    padding: 0 50px 0 150px;
    line-height: 30px;
    color: #2C3D4B;
    font-size: 1.2rem;
   }
   #txt2-bg{
    width: 700px;
    height: 500px;
    margin-left: 170px;
    background-color: #78e6ce;
    border-radius: 7% 93% 33% 67% / 64% 29% 71% 36% ;
   }

   #about2{
    margin: 3% 0% 5%;
    height: 400px;
    width: 800pxa;
    padding-right: 50px;
   }
   /* FEATURES */
#ftrs{
    padding-bottom: 10%;
   }
#ftrs h2{
    font-size: 2.5rem;
    color: #2C3D4B;
}
.ftrs-text{
    background-color: #AB5429;
    border-radius: 42% 58% 28% 72% / 53% 0% 100% 47% ;
}
.scnd-text{
    background-color: #AB5429;
    border-radius: 10% 90% 65% 35% / 47% 32% 68% 53% ;  
}
.thrd-text{
    background-color: #AB5429;
    border-radius: 67% 33% 65% 35% / 47% 47% 53% 53%;
}
.ftrs-text p, .ftrs-text h3, .scnd-text h3, .scnd-text p, .thrd-text h3, .thrd-text p{
    color: white;
    text-align: center;
    padding: 10px 100px 0 100px;
}
.ftrs-text h3, .thrd-text h3{
    padding-top: 100px;
}
.scnd-text h3{
    padding-top: 25px;
}
.ftrs-text p, .scnd-text p{
    font-size: 1.2rem;
}
#ftrs .slides{
    border-radius: 20px;
}
/* FAQS ACCORDION */
.faq-img{
    padding-left: 230px;
}
.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    cursor: pointer;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h3{
    font-size: 1.5rem;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1rem;
}
.faq.active .answer{
    max-height: 300px;
}
.faq.active svg{
    transform: rotate(180deg);
}

/* <!-- GET IN TOUCH SECTION --> */
.glass-container {
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 2px solid #f8f8f8;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;
    margin-left: 300px;
  }
.title{
    padding-right: 300px;
}
#git-top ul li{
 list-style: none;
 display: inline-block;
 margin-right: 15px;
 font-size: 20px;
}
#git-top ul{
    margin-bottom: 30px;
    padding: 0;
}
#git-bot ul li{
    list-style: none;
    display: inline-block;
    margin-right: 0px;
}
#git-bot #gcash{
    width: 50px;
    height: 30px;
    margin-left: -45px;
}
#git-bot #visa,
#git-bot #mastercard{
    width: 50px;
    height: 30px;
    margin-right: 25px;
    margin-left: -5px;
}
#git-bot #paypal{
    width: 30px;
    height: 30px;
    margin-left: -10px;
}
.git-right ul li{
    list-style: none;
    display: inline-block;
}
.git-right ul{
    padding-left: 0;

}
.git-right h4{
    margin: 0 0 15px 0;
}
#lbc{
    width: 70px;
    height: 50px;
    margin-left: -15px;
}
#jrs, #jnt, #ninja{
    width: 100px;
    height: 50px;
}
/* FOOTER */
.text-center{
    padding: 20px 0 50px 0;
}
.ftr-ico .fa-solid{
    font-size: 1.5rem;
}
.ftr-ico{
   width: 30px !important;
   padding-top: 0px;
   margin-left: 80px;
}
.ftr-details{
    padding: 30px 12px 0 130px !important;
}
form{
    margin: 0 100px 0 0;
    padding: 20px;
    border-radius: 15px;
    background-color: #78e6ce;
    position: relative;
    right: 120px;

}
#contact{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
#inner-ftr{
    padding: 5px 0;
}
#socmed{
    margin-left: 200px;
}

/* BUTTONS SECTION */
#btn {
    display: inline-block;
    padding: 0.3rem 1rem;
    font-size: 16px;
    font-weight: 700;
    color: #2C3D4B;
    border: 2px solid #2C3D4B;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   #btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #78e6ce;
    
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   #btn:hover::before {
    transform: translateX(0);
   }
   #btn:hover{
    color: #2C3D4B;
   }

/* btn-2 */
.apl{
    margin: 0 30px 0 145px;
}
.btn-dark{
    background-color: #AB5429 !important;
    border-color: white !important;
}
.btn-dark:hover{
    box-shadow: 0 0 10px rgba(43, 32, 32, 0.5);
    color: rgb(8, 8, 8);
}
.btn-outline-light{
    border-color: #AB5429 !important;
    color: #AB5429 !important;
}


/* Mobile styles */
@media screen and (max-width: 600px) {
    
    /* <!-- 1st section --> */
    #hero{
        padding: 30px 0 100px 0;
    }
    #hero .row{
        width: 500px;
    }
    #hero h1{
        font-size: 36px;
        width: 500px;
        margin: 0;
        text-align: center;
        padding-left: 60px;
    }
    #hero p{
        font-size: 16px;
        text-align: center;
        width: 500px;
        padding: 20px 60px 20px 80px;
        margin: 0 0 20px 0;
    }
    .apl{
        margin-left: 100px;
    }
    #hero .right-bg{
        margin: 40px 0 0 20px;
        background-color: #E67890;
    }
    #m-img{
        width: 500px;
        height: 350px;
    }
    /* ABOUT SECTION */
    #txt1-bg{
        width: 450px;
        height: 400px;
        margin-left: 30px;
    }
    #about-txt1{
        margin: 70px 0 0 50px;
        font-size: 16px;
    }
    #about2{
        width: 500px;
        height: 300px;
    }
    #txt2-bg{
        margin: 50px 0 0 080px;
        height: 400px;
        width: 400px;
        background-color: #2C3D4B;
    }
    #about-txt2{
        font-size: 16px;
        padding: 0 10px;
        margin: 50px 0 16px 0;
        color: white;
    }
    /* FEATURES SECTION */
    .ftrs-text h3, .thrd-text h3{
        padding-top: 30px;
        font-size: 25px;
    }
    .ftrs-text p, .scnd-text p, .thrd-text p{
        font-size: 16px;
        padding-bottom: 30px;
    }
    .scnd-text p{
        padding: 10px 80px 30px 80px;
    }
    #ftrs .slides{
        padding-top: 30px;
    }
    .thrd-text{
        margin-top: 30px;
    }
    .thrd-text{
        margin-top: 30px;
    }
    .faq-img{
        padding-left: 50px;
    }
    .title{
        padding: 0;
    }
    .question h3 {
        font-size: 20px;
    }
    .answer p{
        font-size: 16px;
    }
    #inner-ftr h2{
        padding: 20px 0px;
    }
    #git-top h5, #git-top ul, #git-bot h5, .git-right h5{
        text-align: center;
    }
    #git-bot #gcash{
        margin-left: 80px;
    }
    #socmed{
        margin: 0;
    }
    #lbc{
        margin-left: 50px;
    }
    .ftr-ico{
        margin-left: 120px;
    }
    form{
        margin: 0 100px 0 100px;
        right: 0;
    }


}
/* ONLINE STORE SECTION */
.banner {
    position:relative;
}

#shop {
    position:absolute;
    bottom:100px;
    right: 650px;
    width:200px;
    height:50px;
    font-size: 25px;
}
/* Albums */
.py-5{
    padding-bottom: 10px;
    padding-top: 10px;
}
.bg-light{
    background-color: #78e6ce;
}
.album-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.featured{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    word-wrap: break-word;
}
.featured-col{
    margin: auto;
}
  
   